html {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    color: #FF5D45;
    text-align: center;
    text-shadow: 3px 3px 3px black, 3px 3px 3px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.header_title {
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 30px;
    font-family: font-family: 'Merriweather', serif;
    margin-top: -50px;
}

.header_slogan {
    font-size: 28px;
    line-height: 42px;
}

.header_arrow {
    font-size: 48px;
    width: 60px;
    height: 50px;
    margin-left: -30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
}
