/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  
  color: #1f2937;
  background-color: #f9faf8;
}

main {
  flex-grow: 1;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* Basic */

.list-default {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    min-width: 140px;

    font: inherit;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: unset;
    text-align: center;
    vertical-align: middle;

    border: none;
    border-radius: 7px;
}

/* Main layout */

.lending-block {
    width: 100%;
    padding: 4% 15%;
    max-width: 1440px;
}

.lending-content {
    display: flex;
    flex-direction: column;
}

/* Navbar */

.header {
    padding-top: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-item {
    align-items: center;
}

.mainmenu {
    display: flex;
    flex-direction: row;
}

.mainmenu-item {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainmenu-item-link {
    align-self: center;
    margin: auto auto;
}

.logo {
    width: 100px;
}

/* Main cover */

.maincover {
    padding-top: 50px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.maincover-sidebar {
    flex: 1;

    align-content: center;
}

.cover-tiiles {
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-tiiles-item {
    margin-bottom: 10px;
}

.cover-img {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("../img/temp.jpg");
    background-position: center center;
}

/* Main content */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content-title {
    margin-bottom: 45px;
    text-align: center;
}

.jobs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.jobs-item{
    flex: 1;
}

.jobs-item-img {
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.jobs-item-text {
    font-size: 13px;
    text-align: center;
}

/* Quotes */

.quotes-content {
    margin: 50px 0;
}

.quote-text {
    margin-bottom: 15px;
    font-style: italic;
}

.quote-sign {
    font-weight: bold;
    text-align: right;
}

/*************************/
/* Colors and typography */
/*************************/

.header {
    color: #e5e7eb;
    background-color: #1f2937;
}

.cover-img {
    background-color: #e5e7eb;
}

h2 {
    font-size: 36px;
    line-height: 51px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
}

.btn {
    color: #f9faf8;
    background-color: #3882f6;
}

.title-description {
    color: #e5e7eb;
}

.main {
    color: #1f2937;
    background-color: #f9faf8;
}

.quotes {
    color: #1f2937;
    background-color: #e5e7eb;
}
