/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  
  color: #1f2937;
  background-color: #f9faf8;
}

main {
  flex-grow: 1;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/* Basic */

.list-default {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

/* Main layout */

.lending-block {
    width: 100%;
    padding: 4% 15%;
}

.lending-content {
    display: flex;
    flex-direction: column;
}

/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-item {
    align-items: center;
}

.mainmenu {
    display: flex;
    flex-direction: row;
}

.mainmenu-item {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainmenu-item-link {
    align-self: center;
    margin: auto auto;
}

.logo {
    width: 100px;
}

/* Main cover */

.maincover {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.maincover-sidebar {
    flex: 1;
}

.cover-tiiles {
    padding-top: 8px;
    padding-bottom: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-img-wrap {
    justify-content: center;
    align-items: center;
}

.cover-img-item {
}
