// ////////////////////////////
// Шрифты
// ////////////////////////////
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.eot');
	src: url('../fonts/Nunito-Regular.woff') format('woff'), url('../fonts/Nunito-Regular.ttf') format('truetype'), url('../fonts/Nunito-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Bold.eot');
	src: url('../fonts/Nunito-Bold.woff') format('woff'), url('../fonts/Nunito-Bold.ttf') format('truetype'), url('../fonts/Nunito-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraLight.eot');
	src: url('../fonts/Nunito-ExtraLight.woff') format('woff'), url('../fonts/Nunito-ExtraLight.ttf') format('truetype'), url('../fonts/Nunito-ExtraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// ////////////////////////////
// Глобальные
// ////////////////////////////
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  min-width: $xs-min;
  margin: 0;
  padding: 0;

  font-family: "Nunito", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
}

main {
  flex-grow: 1;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

// ////////////////////////////
// Умолчания
// ////////////////////////////
.list-default {
  list-style: none;
  padding: 0;
  margin: 0;
}
