// ретинизация
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// главная сетка
$xs-min: 320px; //mobile * //360-410 px (elli)
$xs-max: 599px;
$s-min: 600px;
$s-max: 767px;
$m-min: 768px; //tablet *
$m-max: 1169px;
$l-min: 1170px; //1280px //desktop *
$l-max: 1439px;
$xl-min: 1440px; //1560px //1920px (elli) - контент 1240-1360

$xs-padding: 15px;
$s-padding: 20px;
$m-padding: 30px;
$l-padding: 130px;
$xl-padding: 150px;

$xs-content: ($xs-min - 2 * $xs-padding);
$s-content: ($s-min - 2 * $s-padding);
$m-content: ($m-min - 2 * $m-padding);
$l-content: ($l-min - 2 * $l-padding);
$xl-content: ($xl-min - 2 * $xl-padding);
