.face {
  // min-height: 395px;

  background-color: $bk-color;
  background-image: url("../img/bg-face.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url("../img/bg-back-mobile@2x.jpg");
  // }
}
