.footer {
  @include colors($txt-color-footer, $bk-color-footer);
  font-weight: 200;
}

.footer__brandname {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}

.footer__copyright {
  margin-bottom: 20px;
}

@media (max-width: $s-max) {
  .footer__social {
    margin-bottom: 30px;
    width: 100%;
    max-width: 320px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__articles {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer__article-item {
    align-self: center;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .footer__rightme,
  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__logo-img {
    width: 98px;
    height: auto;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .footer__social {
    margin-bottom: 35px;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__present {
    flex-basis: 33%;
    margin-bottom: 35px;
  }

  .footer__service {
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
  }

  .footer__articles {
    flex-basis: 66%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 35px;
  }

  .footer__article-item {
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
  }

  .footer__rightme,
  .footer__logo {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 35px;
  }

  .footer__logo-img {
    width: 130px;
    height: auto;
  }
}

@media (min-width: $l-min) {
  .footer__social {
    margin-bottom: 45px;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
    font-size: 14px;
  }

  .footer__present {
    order: 1;
    flex-basis: 25%;
  }

  .footer__rightme {
    order: 2;
    flex-basis: 15%;
  }

  .footer__logo {
    order: 3;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__articles {
    order: 4;
    flex-basis: 40%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .footer__present-fullname {
    display: flex;
    flex-direction: row;
  }

  .footer__present-name,
  .footer__present-surname {
    margin: 0;
    margin-bottom: 8px;

    font-size: 26px;
    font-weight: 700;
  }

  .footer__present-name {
    margin-right: 10px;
  }

  .footer__service,
  .footer__service-marker {
    margin: 0;
    font-size: 12px;
  }

  .footer__service-marker {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer__present-service {
    display: flex;
    flex-direction: row;
  }

  .footer__article-item {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 16px;
  }

  .footer__logo-img {
    width: 130px;
    height: auto;
  }
}
