@media (max-width: $s-max) {
  .logo {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 24px;
    height: 36px;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .logo {
    width: 100px;
    height: 36px;
  }
}

@media (min-width: $l-min) {
  .logo {
    width: 140px;
    height: 50px;
  }
}
