.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 8px;
}

.menu__link {
  padding: 9px 12px;
  padding-bottom: 11px;

  @include colors($color-btn-menu, $color-btn-menu-bk);
  text-align: center;
  border-radius: $border-radius-btn-menu;

  &_small {
    min-width: 72px;
  }

  &_big {
    min-width: 150px;
  }

  &:hover {
    @include colors($color-btn-menu-hover, $color-btn-menu-bk-hover);
  }

  &:active {
    @include colors($color-btn-menu-active, $color-btn-menu-bk-active);
  }
}
