.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 0;
}

.menu__link {
  @include colors($color-btn-menu, $color-btn-menu-bk);
  text-align: center;
  vertical-align: middle;

  &_small {
    min-width: 72px;
  }

  &_big {
    min-width: 150px;
  }

  &:hover,
  &:focus {
    @include colors($color-btn-menu-hover, $color-btn-menu-bk-hover);
  }

  &:active {
    @include colors($color-btn-menu-active, $color-btn-menu-bk-active);
  }
}

@media (max-width: $s-max) {
  .menu__link {
    padding: 8px 12px;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .menu__link {
    padding: 22px 12px;
  }
}

@media (min-width: $l-min) {
  .menu__link {
    padding: 22px 12px;
  }
}
