.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;

  background-color: $color-navbar-bk;
}

.navbar__btn-box {
  position: relative;
  min-width: 35px;
}

@media (max-width: $s-max) {
  .navbar__content {
    display: flex;
    flex-direction: column;
  }

  .navbar__header {
    display: flex;
    justify-content: space-between;
  }

  .navbar__menu-list {
    display: flex;
    flex-direction: column;
  }


}

@media (min-width: $m-min) and (max-width: $m-max) {

}

@media (min-width: $l-min) {
  .navbar__about {
    flex-grow: 3;
  }

  .navbar__main {
    flex-grow: 1;
  }

  .navbar__logo {
    padding: 2px;
    padding-right: 12px;
  }
}
