.social {
  z-index: 3;
}

.social__img {
  fill: $color-social-unactive;
  width: 28px;
  height: 28px;
}

.social__img-github:hover,
.social__img-github:focus,
.social__img-github:active {
  fill: $color-social-github;
}

.social__img-instagram:hover,
.social__img-instagram:focus,
.social__img-instagram:active {
  fill: $color-social-instagram;
}

.social__img-telegram:hover,
.social__img-telegram:focus,
.social__img-telegram:active {
  fill: $color-social-telegram;
}

.social__img-skype:hover,
.social__img-skype:focus,
.social__img-skype:active {
  fill: $color-social-skype;
}

.social__img-facebook:hover,
.social__img-facebook:focus,
.social__img-facebook:active {
  fill: $color-social-facebook;
}

.social__img-youtube:hover,
.social__img-youtube:focus,
.social__img-youtube:active {
  fill: $color-social-youtube;
}

@media (max-width: $s-max) {
  .social {
    justify-content: space-around;
  }

  .social__img {
    width: 54px;
    height: 54px;
  }

  .social__img-instagram {
    fill: $color-social-instagram;
  }

  .social__img-telegram {
    fill: $color-social-telegram;
  }

  .social__img-facebook {
    fill: $color-social-facebook;
  }

  .social__img-youtube {
    fill: $color-social-youtube;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .social__item {
    margin-left: 8px;
  }
}

@media (min-width: $l-min) {
  .social {
    margin-left: auto;
  }

  .social__item {
    margin-left: 8px;
  }
}
