$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$xs-min: 320px;
$xs-max: 599px;
$s-min: 600px;
$s-max: 767px;
$m-min: 768px;
$m-max: 1169px;
$l-min: 1170px; //1280px
$l-max: 1439px;
$xl-min: 1440px; //1560px

$xs-padding: 15px;
$s-padding: 20px;
$m-padding: 30px;
$l-padding: 130px;

$xs-content: 280px;
$s-content: 560px;
$m-content: 720px;
$l-content: 1010px;
$xl-content: 1180px;

$bk-color: #ffffff;
$bk-color-dark: #e5e5e5;

$txt-color: #000000;
$txt-color-light: #ffffff;
