.mt-square {
  display: inline-block;
  box-sizing: border-box;
  label {
    // background
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    width: 60px;
    height: 20px;
    background: $base-clr-light;
    transition: all 0.3s ease;
    &:before {
      // moving square
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 20px;
      // background: #f0134d;
      transition: 0.3s ease;
      z-index: 1;
    }
  }
  input {
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    font-size: inherit;
    margin: 0;
    border: none;
    z-index: 1;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
    &:before,
    &:after {
      // background on-off label
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 20px;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // color: #888;
      letter-spacing: 1px;
    }
    &:before {
      // background on-off label
      content: "";
    }
    &:after {
      // background on-off label
      content: "";
      left: 30px;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      // background: #40bfc1;
      transform: translateX(30px);
    }
  }
  input:disabled {
    &:before,
    &:after {
      // background on-off label
      cursor: not-allowed !important;
    }
    & + label {
      // background
      background: $base-clr-light-darken !important;
      cursor: not-allowed !important;
      &:before {
        // moving square
        background: $base-clr-light !important;
      }
    }
  }
}

.mt-square-matcha {
  @extend .mt-square;
  label {
    &:before {
      // moving square
      background: $base-clr-accent-darken;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: $base-clr-accent-lighten;
    }
  }
}
