.form {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 48px 34px;
  }

  &_contact {
    max-width: 75%;
    min-width: 50%;
    margin: 50px auto;
    box-shadow: 0 0 32px rgba(10, 10, 10, 0.15);
  }
}
