.header {
  background-image: url("../../img/bg-myself-big-1900.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // background-image: url("../../img/bg-square.svg"), url("../../img/bg-myself-600.jpg");
  // background-repeat: no-repeat, no-repeat;
  // background-position: 0 0, 40% center;
  // background-size: 100% auto, auto 80%;

  &__nav {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 10px;
    // border-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(87, 117, 144, 0.6);
    // box-shadow: 0 0 20px 20px rgba(55, 55, 55, 0.1),
    //             // 0 0 2px rgba(55, 55, 55, 0.2),
    //             // 0 0 4px rgba(55, 55, 55, 0.3),
    //             // 0 0 8px rgba(55, 55, 55, 0.4),
    //             0 0 10px 10px rgba(55, 55, 55, 0.5),;
  }

  &__face-cover {
    position: relative;
    margin-bottom: 100px;
  }

  &__brand-title {
    position: absolute;
    bottom: 0;
    left: calc(50% + 80px);
  }

  &__puzzle {
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgba(87, 117, 144, 0.6);
  }
}
