.header {
  margin-bottom: 175px;
  background-image: url("../img/bg-myself-big-1900.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__nav {
    margin-top: 0;
    margin-bottom: 60px;
  }

  &__puzzle {
    margin-bottom: -130px;
  }
}

.header__brand-title {
  position: absolute;
}

@media (max-width: $xs-max) {
  .header {
    margin-bottom: 90px;
  }

  .header__face-cover {
    position: relative;
    min-height: 300px;
  }

  .header__social {
    display: none;
  }

  .header__brand-title {
    width: 100%;
    bottom: -50px;
    left: 0;
  }
}

@media (min-width: $s-min) and (max-width: $s-max) {
  .header__face-cover {
    position: relative;
    min-height: 300px;
  }

  .header__social {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__brand-title {
    top: 0;
    left: 0;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .header__face-cover {
    position: relative;
    min-height: 33vw;
  }

  .header__social {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__brand-title {
    top: 0;
    left: 50px;
  }
}

@media (min-width: $l-min) and (max-width: $l-max) {
  .header__face-cover {
    position: relative;
    min-height: 33vw;
  }

  .header__social {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__brand-title {
    top: 0;
    left: 70px;
  }
}

@media (min-width: $xl-min) {
  .header__face-cover {
    position: relative;
    min-height: 33vw;
  }

  .header__social {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__brand-title {
    top: 0;
    left: 130px;
  }
}
