.header {
  background-image: url("../../img/bg-myself-big-1900.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__nav {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 10px;
    // border-bottom-left-radius: 12px;
    // border-bottom-right-radius: 12px;
    background-color: rgba(87, 117, 144, 0.87);
    // background-color: rgb(87, 117, 144);
  }

  &__face-cover {
    position: relative;
    margin-bottom: 100px;
  }

  &__brand-title {
    position: absolute;
    top: 0;
    left: 100px;
    padding: 20px;
    backdrop-filter: blur(7px) contrast(60%);
    // backdrop-filter: blur(8px) saturate(120%) contrast(200%);

    // background-image: url("../../img/bg-square1.svg"), url("../../img/bg-square2.svg");
    // background-repeat: no-repeat, no-repeat;
    // background-position: 0 0, 15px 15px;
    // background-size: 160px 200px, 160px 200px;
    }

  &__puzzle {
    margin-bottom: -50px;
    padding: 10px;
    // border-top-left-radius: 12px;
    // border-top-right-radius: 12px;
    background-color: rgba(87, 117, 144, 0.87);
    // background-color: rgb(87, 117, 144);
  }
}
