.input {
  padding: 10px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  transition: 0.4s ease-out;

  &__label {
    margin-bottom: 6px;
  }

  &:focus,
  &:active {
    outline: none;
    border-radius: 0;
    @include colors($text-color, $bg-color);
  }
}
