@media (max-width: $xs-max) {
  .puzzle {
    display: none;
  }
}

@media (min-width: $s-min) {
  .puzzle__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .puzzle__menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    // min-height: 180px;
    padding: 10px;
    line-height: 1.5;

    &:hover .puzzle__text_toggle {
      display: none;
    }

    &:hover .puzzle__btn {
      display: block;
      align-self: flex-start;
    }
  }

  .puzzle__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .puzzle__title {
    @include nospace;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .puzzle__text {
    @include nospace;
    margin-bottom: 12px;
    font-size: 16px;

    &_toggle {
      display: block;
      // min-height: 50px;
    }
  }

  .puzzle__btn {
    display: none;
  }
}

@media (min-width: $s-min) and (max-width: $s-max) {
  .puzzle__menu-item {
    flex-basis: 35%;
    padding: 12px 0;

    &_sites {
      display: none;
    }
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .puzzle__menu-item {
    flex-basis: 30%;
    padding: 12px 0;
  }
}

@media (min-width: $l-min) {
  .puzzle__menu-item {
    flex-basis: 30%;
    padding: 12px 0;
  }
}
