.puzzle {
  &__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__menu-item {
    max-width: 200px;

    // &:nth-child(1) {
    //   padding-top: 70px;
    // }

    // &:nth-child(2) {
    //   padding-top: 35px;
    // }
  }
}
