.title {
  margin-bottom: 24px;

  &__heads {
    padding-left: 20px;
    margin-bottom: 8px;
    z-index: 10;

    position: relative;
     &::before {
      content: "";

      position: absolute;
      z-index: 11;
      top: 0;
      left: 0;

      width: 8px;
      height: 100%;
    }
  }

  &__head {
    @include nospace;
    margin-bottom: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 10;
    text-transform: uppercase;
  }

  &__subhead {
    @include nospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 10;
    text-transform: uppercase;
  }

  &__notation {
    @include nospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    z-index: 10;
  }

  &__notation-1,
  &__notation-2,
  &__notation-point {
    z-index: 10;
  }
}
