.triangle {
  display: inline-block;
  margin-top: 0;
  border: none;
  width: 100%;
  height: calc(100vw/10);

  &_1 {
    background-image: url("../../img/bg-triangle-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
  }
}
