// Синий - желтый
// Спокойствие, бдительность
// Амазон, Лего, Скетч
$basecolor-sketch-blue: #577590;
$basecolor-sketch-yellow: #F3CA40;

// Темно-зеленый - глиттер
// Полное спокойствие
// Старбакс
$basecolor-starbaks-green: #003B36;
$basecolor-starbaks-glitter: #EAE8FF;
$basecolor-starbaks-black: #000000;

// Темно-синий - оливковый
// Спокойствие, комфорт, доверие
// Андройд, N-Vidia, Фигма
$basecolor-figma-blue: #0F2A62;
$basecolor-figma-oliv: #B4DA9B;
$basecolor-figma-black: #000000;

// Палитры от AWSM

// Зелено-коричневый
$clr1: #354739;
$clr2: #ce8523;
$clr3: #e8e5db;
$clr4: #b35417;

// Кофе, оранжевый
$clr1: #46322b;
$clr2: #f57b39;
$clr3: #f8f3e3;
$clr4: #b83933;

// Оливково-оранжевый
$clr1: #5d5c19;
$clr2: #f4e9dc;
$clr3: #f5d372;
$clr4: #e28935;

// Сине-оранжевые
//2
// $base-clr-light: #f3f0e2;
// $base-clr-dark: #2e364f;
// $base-clr-accent: #ef5939;
// $base-clr-other: #2d5d7c;

//3
// $base-clr-light: #f2f1d3;
// $base-clr-dark: #293858;
// $base-clr-accent: #dd5d00;
// $base-clr-other: #f7bc13;

//4
// $base-clr-light: #f6eee5;
// $base-clr-dark: #4a50b2;
// $base-clr-accent: #ff7b2d;
// $base-clr-other: #8d426a;

//5
// $base-clr-light: #f9f3eb;
// $base-clr-dark: #3b4069;
// $base-clr-accent: #ff593e;
// $base-clr-other: #ece0d5;

//6
// $base-clr-light: #f7f1ea;
// $base-clr-dark: #132f63;
// $base-clr-accent: #f6554d;
// $base-clr-other: #fabb5a;

