// Базовые цвета
$base-color1: #577590;
$base-color2: #f3ca40;
$bg-color-outline: lighten($base-color2, 60%); // заливка подложки для очень широких экранов
$shadow-outline: lighten($base-color2, 30%);

$base-color1-75: rgba($base-color1, 0.75);
$base-color2-75: rgba($base-color2, 0.75);
$base-color1-50: rgba($base-color1, 0.50);
$base-color2-50: rgba($base-color2, 0.50);
$base-color1-25: rgba($base-color1, 0.25);
$base-color2-25: rgba($base-color2, 0.25);
$base-color1-10: rgba($base-color1, 0.10);
$base-color2-10: rgba($base-color2, 0.10);

// Типографика
$text-color: #141418;
$link-color: #1e1e7a;
$link-color-active: lighten($link-color, 20%);
$bg-color: #fdfdfd;
$text-color-invert: $bg-color;
$text-color-invert-mix: lighten($base-color2, 31%);
$bg-color-invert: $text-color;

// Обложка
// Главное меню
$main-menu-color: lighten($base-color2, 36%);
$main-menu-color-active: #ffffff;
// Выпадающее меню
$main-menu-bg-color: darken($base-color1, 5%);
$main-menu-brd-color: darken($base-color1, 15%);
$main-menu-brd-shadow: rgba(lighten($base-color1, 15%), 0.5);
$header-nav-bg-color: rgba($base-color1, 0.87); // Фон плавающих панелей

// Социконки
$color-social-unactive: rgb(90, 90, 90);
$color-social-github: #3E75C3;
$color-social-instagram: #5189AF;
$color-social-telegram: #4aaee8;
$color-social-skype: #3BAEDA;
$color-social-facebook: #3F65A6;
$color-social-youtube: #C12025;

$attantion-panel-bg-color: rgba($color-social-unactive, 0.70);

// формы, элементы формы
$form-color: $text-color-invert;
$form-bg-color: darken($base-color1, 18%);
$form_shadow: darken($base-color1, 30%);
$input-color: $text-color;
$input-bg-color: $bg-color;
$input-border-color: $base-color2;
$input-border-color-active: darken($base-color2, 20%);

// кнопки
$btn-clr: $text-color;
$btn-clr-bg: $base-color2;
$btn-clr-shdw: darken($base-color2, 40%);

$btn-clr-light: lighten($btn-clr, 20%);
$btn-clr-bg-light: lighten($btn-clr-bg, 20%);

$btn-clr-dark: darken($btn-clr, 20%);
$btn-clr-bg-dark: darken($btn-clr-bg, 20%);
