// основные цвета
// $base-clr-light: #f8f3e3;
// $base-clr-dark: #46322b;
// $base-clr-accent: #f57b39;
// $base-clr-other: #b83933;

$base-clr-light: #f3f0e2;
$base-clr-dark: #2e364f;
$base-clr-accent: #ef5939;
$base-clr-other: #2d5d7c;

$bg-clr: #fdfdfd;
$bg-clr-dark: #46322be6;
$txt-clr: #201510;

// кнопки
$btn-clr: $base-clr-light;
$btn-clr-bg: $base-clr-accent;
$btn-clr-light: $base-clr-light;
$btn-clr-bg-light: lighten($base-clr-accent, 15%);
$btn-clr-dark: $base-clr-light;
$btn-clr-bg-dark: darken($base-clr-accent, 15%);

// формы, элементы формы
$form-clr: lighten($base-clr-light, 10%);
$form-clr-bg: $base-clr-dark;
$input-clr: $base-clr-dark;
$input-clr-bg: $base-clr-light;
$input-clr-brd: darken($base-clr-light, 25%);
$input-clr-brd-active: lighten($base-clr-other, 20%);

// меню и навигация
$color-btn-menu: #dddddd;
$color-btn-menu-hover: #ffffff;
$color-btn-menu-active: #ffffff;
$color-btn-menu-bk: transparent;
$color-btn-menu-bk-hover: rgb(13, 37, 88);
$color-btn-menu-bk-active: rgb(11, 33, 78);
$border-radius-btn-menu: 50px;

$color-navbar-bk: rgba(15, 42, 98, 0.85);

$color-menu-border: rgb(6, 23, 58);
$color-menu-shadow: rgba(200, 200, 200, 0.15);

// социконки
$color-social-unactive: #c0c0c0;
$color-social-github: #3E75C3;
$color-social-instagram: #5189AF;
$color-social-telegram: #4aaee8;
$color-social-skype: #3BAEDA;
$color-social-facebook: #3F65A6;
$color-social-youtube: #C12025;
