// Базовые цвета
$base-color1: #577590;
$base-color2: #F3CA40;

$basecolor-sketch-blue: #577590;
$basecolor-sketch-yellow: #F3CA40;

$base-clr-light: #f8f3e3;
$base-clr-dark: $basecolor-sketch-blue;
$base-clr-accent: #b35417;
$base-clr-other: #b83933;

// производные от базовой палитры
$base-clr-light-lighten: lighten($base-clr-light, 10%);
$base-clr-light-darken: darken($base-clr-light, 10%);
$base-clr-accent-lighten: lighten($base-clr-accent, 10%);
$base-clr-accent-darken: darken($base-clr-accent, 10%);
$base-clr-other-lighten: lighten($base-clr-other, 10%);
$base-clr-other-darken: darken($base-clr-other, 10%);

// типографика
$bg-clr: #fdfdfd;
$bg-clr-dark: #032539e6;
$txt-clr: #141418;

// кнопки
$btn-clr: $base-clr-light;
$btn-clr-bg: $base-clr-accent;
$btn-clr-light: $base-clr-light;
$btn-clr-bg-light: $base-clr-accent-lighten;
$btn-clr-dark: $base-clr-light;
$btn-clr-bg-dark: $base-clr-accent-darken;

// формы, элементы формы
$form-clr: $base-clr-light-lighten;
$form-clr-bg: $base-clr-dark;
$input-clr: $base-clr-dark;
$input-clr-bg: $base-clr-light;
$input-clr-brd: $base-clr-accent-lighten;
$input-clr-brd-active: $base-clr-light;

// меню и навигация
$color-navbar-bk: rgba(15, 42, 98, 0.85);
$color-menu-border: rgb(6, 23, 58);
$color-menu-shadow: rgba(200, 200, 200, 0.15);

// социконки
$color-social-unactive: #c0c0c0;
$color-social-github: #3E75C3;
$color-social-instagram: #5189AF;
$color-social-telegram: #4aaee8;
$color-social-skype: #3BAEDA;
$color-social-facebook: #3F65A6;
$color-social-youtube: #C12025;
