// Глобальные и хедер

body {
  @include colors($text-color, $bg-color);
}

.header {
  @include colors($text-color-invert, #ffffff);
}

.main-menu__item {
  border-top-color: $main-menu-brd-color;
  border-bottom-color: $main-menu-brd-shadow;
}

@media (min-width: $s-min) {
  .puzzle {
    background-color: rgba(87, 117, 144, 0.87);
  }

  .puzzle__menu-item {
    background-color: rgba(87, 117, 144, 0.3);
  }
}

// Прочие элементы

.title {
  &__heads::before {
    background-color: $base-clr-other-lighten;
  }

  &__notation {
    color: $base-clr-light-darken;
  }
}

// Формы

.form {
  &_contact {
    @include colors($form-clr, $form-clr-bg);
    box-shadow: 0 0 2px rgba(3, 37, 57, 0.05),
                0 0 4px rgba(3, 37, 57, 0.08),
                0 0 8px rgba(3, 37, 57, 0.10),
                0 0 16px rgba(3, 37, 57, 0.12),
                0 0 32px rgba(3, 37, 57, 0.14);
  }
}

.input {
  @include colors($input-clr, $input-clr-bg);
  border-color: $input-clr-brd;

  &_search {
    color: $bg-color;
    background-color: transparent;

    &::placeholder {
      color: $input-clr-brd;
    }
  }

  &:focus,
  &:active {
    border-color: $input-clr-brd-active;
  }
}
