// ////////////////////////////
// Общая стилизация кнопок
// ////////////////////////////
.btn {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 100px;

  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;

  color: inherit;
  background-color: transparent;
  text-decoration: none;

  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: 0.2s ease-out;

  &_nospace {
    min-width: unset;
  }

  // размер
  &_s {
    padding: 8px 14px;
    font-size: 14px;
  }

  &_m {
    padding: 10px 16px;
    font-size: 14px;
  }

  &_l {
    padding: 14px 21px;
    font-size: 16px;
  }

  // Оформление (цвет, тень, рамка) и поведение
  &_normal {
    @include colors($btn-clr, $btn-clr-bg);
    border: 1px solid $btn-clr-bg;
    border-radius: 6px;

    &:hover {
      color: $btn-clr-bg;
      border: 1px solid $btn-clr-bg;
      background-color: transparent;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 4px rgba(124, 49, 8, 0.11);
    }
  }

  &_light {
    @include colors($base-clr-other-darken, $btn-clr-bg-light);
    border: 1px solid $btn-clr-bg-light;
    border-radius: 4px;

    &:hover {
      color: $btn-clr-bg-light;
      border: 1px solid $btn-clr-bg-light;
      background-color: transparent;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 4px rgba(124, 49, 8, 0.11);
    }
  }

  &_dark {
    @include colors($btn-clr-dark, $btn-clr-bg-dark);
    border: 1px solid $btn-clr-bg-dark;
    border-radius: 4px;

    &:hover {
      color: $btn-clr-dark;
      border: 1px solid $btn-clr-dark;
      background-color: transparent;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 4px rgba(124, 49, 8, 0.11);
    }
  }

  &_stretch {
    width: 100%;
  }
}

// ////////////////////////////
// Главное меню (кнопка "Бургер")
// ////////////////////////////
.btn__main-menu {
  position: absolute;
  top: 7px;
  right: 10px;

  cursor: pointer;
  transition: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.navbar__js_closed .btn__main-menu {
  &::before {
    content: "";

    position: absolute;
    top: 7px;
    right: 0;

    width: 27px;
    height: 4px;
    border-radius: 3px;

    background-color: $btn-clr-bg-light;
    box-shadow: 0 10px 0 0 $btn-clr-bg-light, 0 20px 0 0 $btn-clr-bg-light;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $btn-clr-dark;
    box-shadow: 0 10px 0 0 $btn-clr-dark, 0 20px 0 0 $btn-clr-dark;
    outline: none;
  }
}

.navbar__js_opened .btn__main-menu {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 17px;
    right: 0;

    width: 25px;
    height: 4px;
    border-radius: 3px;

    background-color: $btn-clr-bg-light;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after,
  &:active::before,
  &:active::after {
    background-color: $btn-clr-dark;
    outline: none;
  }
}

.navbar__js_nojs .btn__main-menu {
  display: none;
}

@media (max-width: $s-max) {
  .navbar__js_closed .btn__main-menu {
    width: 30px;
    height: 27px;
    top: 7px;
  }

  .navbar__js_opened .btn__main-menu {
    width: 25px;
    height: 22px;
    top: 7px;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .navbar__js_closed .btn__main-menu {
    width: 30px;
    height: 27px;
    top: 8px;
  }

  .navbar__js_opened .btn__main-menu {
    width: 25px;
    height: 22px;
    top: 8px;
  }
}

@media (min-width: $l-min) {
  .btn__main-menu {
    display: none;
  }
}
