// ////////////////////////////
// Общая стилизация кнопок
// ////////////////////////////
.btn {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 100px;

  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;

  text-decoration: none;

  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.2s ease-out;

  &_nospace {
    min-width: unset;
  }

  &_stretch {
    width: 100%;
  }

  // размер
  &_s {
    padding: 8px 14px;
    font-size: 14px;
  }

  &_m {
    padding: 10px 16px;
    font-size: 14px;
  }

  &_l {
    padding: 14px 21px;
    font-size: 16px;
  }

  // Оформление и поведение
  &_normal,
  &_light,
  &_dark {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

// ////////////////////////////
// Главное меню (кнопка "Бургер")
// ////////////////////////////
.btn__main-menu {
  position: absolute;
  top: 7px;
  right: 10px;

  cursor: pointer;
  transition: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.navbar__js_closed .btn__main-menu {
  &::before {
    content: "";

    position: absolute;
    top: 7px;
    right: 0;

    width: 27px;
    height: 4px;
    border-radius: 3px;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    outline: none;
  }
}

.navbar__js_opened .btn__main-menu {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 17px;
    right: 0;

    width: 25px;
    height: 4px;
    border-radius: 3px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after,
  &:active::before,
  &:active::after {
    outline: none;
  }
}

.navbar__js_nojs .btn__main-menu {
  display: none;
}

@media (max-width: $s-max) {
  .navbar__js_closed .btn__main-menu {
    width: 30px;
    height: 27px;
    top: 7px;
  }

  .navbar__js_opened .btn__main-menu {
    width: 25px;
    height: 22px;
    top: 7px;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .navbar__js_closed .btn__main-menu {
    width: 30px;
    height: 27px;
    top: 8px;
  }

  .navbar__js_opened .btn__main-menu {
    width: 25px;
    height: 22px;
    top: 8px;
  }
}

@media (min-width: $l-min) {
  .btn__main-menu {
    display: none;
  }
}
